# kata 4

# Ejercicio 1

In [42]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [43]:
texto_dividido = text.split('.')
texto_dividido

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' \nOn average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highest daylight temperature of the Moon is 127 C',
 '']

In [44]:
pista = ['average','temperature','distance']

In [45]:
for linea in texto_dividido:
    for palabra in pista:
        if palabra in linea:
            print(linea)

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

In [46]:
for linea in texto_dividido:
    if 'C' in linea:
        print(linea.replace('C', 'Celcius'))

 The highest daylight temperature of the Moon is 127 Celcius

# Ejercicio 2

In [80]:
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

In [81]:
titulo = f'datos de gravedad de {planet} y {name}'.title()

In [82]:
multilinea =  f'\n{"-"*80} \nNombre del planeta: {planet}\nGravedad en la tierra: {gravity*1000}'

In [83]:
data = titulo + multilinea
print(data)

Datos De Gravedad De Earth Y Moon
--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en la tierra: 1.6199999999999999

In [95]:
# Datos con los que vas a trabajar
name = 'Marte '
gravity = 0.00143 # in kms
planet = 'Ganímedes'

In [88]:
print(data)

Datos De Gravedad De Earth Y Moon
--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en la tierra: 1.6199999999999999

In [92]:
titulo = 'datos de gravedad de {planet} y {name}\n'.format(name=name,planet=planet).title()

In [96]:
gravity = gravity * 1000
espacio = "-"*80
multilinea =  '\nNombre del planeta: {planet}\nGravedad en la tierra: {gravity}'.format(planet=planet,gravity=gravity)

In [97]:
data = titulo + espacio + multilinea
print(data)

Datos De Gravedad De Ganímedes Y Marte
--------------------------------------------------------------------------------
Nombre del planeta: Ganímedes
Gravedad en la tierra: 1.4300000000000002